@{
    ViewData["Title"] = "Scores";
}

<h2>Scores</h2>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Score</th>
            <th>Athlete</th>
            <th>Date and time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td> <td>Otto</td>
            <td></td>
        </tr>
    </tbody>
</table>